@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 16px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the entire list */
    gap: 20px; /* Adjust spacing between links */
  }

  .link {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center align content */
    gap: 10px; /* Adjust spacing between items */
    text-align: center; /* Center align the text */
  }

  .link img {
    width: 24px; /* Adjust icon size for smaller screens */
    height: auto;
  }

  .link a {
    font-size: 26px; /* Adjust font size if needed */
    text-align: center; /* Ensure text is center-aligned */
  }
}
